/* Simple home page css file! */

table, tr, td, th{
	/*Give everything in the table a nice border!*/
	border: 1px solid black;
	
	/*Align the text content to the center*/
	text-align: center;
} 

th, td{
	/* Space out everything to make it look nicer */
	padding: 3px;
}

table{
	/*Align the table element to the center of the page*/
  margin-left: auto;
  margin-right: auto;	
}