/* Simple home page css file! */

table, tr, td, th{
	/*Give everything in the table a nice border!*/
	border: 1px solid black;
	
	/*Align the text content to the center*/
	text-align: center;
} 

th, td{
	/* Space out everything to make it look nicer */
	padding: 3px;
}

table{
	/*Align the table element to the center of the page*/
  margin-left: auto;
  margin-right: auto;	
}


/* GOTTA DRESS TO IMPRESS
https://www.w3schools.com/css/css3_transitions.asp
*/
#discover-img {
  display: inline-block;
  margin: 0;
  padding: 0;
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.69s ease;
}

#discover-img.visible {
  display: inline-block;
  margin: 0;
  padding: 0;
  opacity: 1;
  transform: scale(1);
}