/*
Mathew Boullier
10/4/25
Simple stylesheet.
*/

body{
	/*This gradient was made with help from an online resource that I found! :)*/
	/*link: https://cssgradient.io/ */
	background: #f0a53c;
	background: linear-gradient(90deg, rgba(240, 165, 60, 1) 0%, rgba(181, 36, 16, 1) 50%, rgba(231, 245, 34, 1) 100%);
	font-family: Verdana, Arial;
}

.center{
	  text-align: center;
}
.center-img {
  display: block;       /* makes the image a block element */
  margin: 0 auto;       /* centers block horizontally */
  float: none;          /* removes any floating */
}


hr{
	border-color:#a339fa;
}

/* Default link */
a {
  color: #ffeb8a;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0 0 3px rgba(0,0,0,0.4);
}

/* Visited link */
a:visited {
  color: #ffd1a9; 
  text-decoration: none;
}

/* Hover link */
a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* Active link */
a.active {
  color: #ffd24c; 
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

h1, h2, h3 {
  color: #fff3b0; 
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  font-family: "Verdana", Arial, sans-serif;
}



.grid_guy{
	display:grid;
	grid-template-columns:repeat(4,1fr);
	padding: 5px;
	margin: 0 auto; /* centers the block element */
	width: fit-content; /* shrink-wrap to content size */
}

/*The dividers inside our "grid_guy" class*/
.grid_guy > div{
	padding:10px;
	text-align:center;
}

/* Header */
.header{
	overflow:hidden;
	background: #9719f7;
	background: radial-gradient(circle, rgba(151, 25, 247, 1) 0%, rgba(186, 57, 250, 1) 37%, rgba(252, 124, 250, 1) 65%, rgba(161, 74, 247, 1) 100%);
}

.header_2{
	padding:50px;
	float:right;
	display:flex;
	gap:40px;
	align-items:center;
	font-size:24px;
}

/*I tried to make floating work, but it wouldn't line up that well! I decided to use a flexbox instead.*/
.main_content {
  display: flex;
  box-sizing:border-box;
  gap: 10px;
  justify-content: space-between;
  align-items: flex-start;
  margin:5px;
}

/* Each column takes equal space */
.left_content,
.right_content {
  flex: 1;
}

.left_content{
	border-right: 2px solid #a339fa;
}


img{
  max-width:100%;
  margin:2px;
  height:auto;
}

@media only screen and (max-width: 750px) {
	.header img{
		width:96px;
		height:auto;
	}
	.header_2{
		float:none;
		gap:10px;
		align-items:flex-start;
		flex-direction:column;
	}
	
  .main_content {
      flex-direction: column;  /* force stacking */
      flex-wrap: wrap;
      align-items: stretch;
	  
  }

  .left_content,
  .right_content {
    width: 100%;             
    margin-bottom: 20px;   
	border-right:none;
  }
  
  img{
      width: 100%;
      float: none;
      margin: 2px;
  }
  
  .grid_guy{
	  grid-template-columns:repeat(2,1fr);
	  width: 100%;
  }
}