/*
Mathew Boullier
10/4/25
Simple stylesheet.
*/

body{
	/*This gradient was made with help from an online resource that I found! :)*/
	/*link: https://cssgradient.io/ */
	background: #f0a53c;
	background: linear-gradient(90deg, rgba(240, 165, 60, 1) 0%, rgba(181, 36, 16, 1) 50%, rgba(231, 245, 34, 1) 100%);
	font-family: Verdana, Arial;
}

.center{
	  text-align: center;
}
.center-img {
  display: block;       /* makes the image a block element */
  margin: 0 auto;       /* centers block horizontally */
  float: none;          /* removes any floating */
}


hr{
	border-color:#1C1818;
}

a{
	text-decoration:none;
}

a:visited{
    color: #220061;
	text-decoration:none;
}
a:hover{
	color: #4AE8DA;
	text-decoration:none;
}

/*Color the active link differnetly*/
a.active{
	color: #CD7F32;
}

.grid_guy{
	display:grid;
	grid-template-columns:auto auto auto auto;
	padding: 5px;
	margin: 0 auto; /* centers the block element */
	width: fit-content; /* shrink-wrap to content size */
}

/*The dividers inside our "grid_guy" class*/
.grid_guy > div{
	padding:10px;
	text-align:center;
}

/* Header */
.header{
	overflow:hidden;
	padding:5px;
	margin:2px;
	background-color:rgba(255, 0, 0, 0.2);
}

.header_2{
	padding:50px;
	float:right;
	margin-top:15px;
	display:flex;
	gap:40px;
	align-items:center;
	font-size:24px;
}

/*I tried to make floating work, but it wouldn't line up that well! I decided to use a flexbox instead.*/
.main_content {
  display: flex;
  box-sizing:display-block;
  gap: 10px;
  justify-content: space-between;
  align-items: flex-start;
}

/* Each column takes equal space */
.left_content,
.right_content {
  flex: 1;
}

.left_content{
	border-right: 2px solid black;
}


img{
  max-width:100%;
}


@media only screen and (max-width: 750px) {
	.header_2{
		float:none;
		gap:10px;
		align-items:flex-start;
	}
	
  .main_content {
      flex-direction: column !important;   /* force stacking */
      flex-wrap: wrap !important;
      align-items: stretch;
	  
  }

  .left_content,
  .right_content {
    width: 100%;             
    margin-bottom: 20px;   
	border-right:none;
  }
  
  img{
      width: 100% !important;
      float: none !important;
      margin: 0 !important;
	  height:auto;
  }
}